@font-face{
  font-family:ng;
  src:url(NanumGothic.eot);
  src:local(※), url('../FONTS/서울남산 장체M.ttf') format(‘woff’) }

html {

    position: relative;

    min-height: 100%;

    margin: 0;

    background: white;

}


body{
  padding:0px;
  line-height:30px;
  background-color: white;
  margin: 0px;

}
a {
  color: inherit;
  text-decoration: none;
}

.page > a > img{
  background-color: white;
  -webkit-transition:-webkit-transform 0.5s;
    transition: background-color 0.5s;
    box-shadow: 1px 2px 2px #000;
    margin: 10px;
}
.page > a > img:hover{
  background-color: gray;
}


img
{
  border-radius: 15px;
  width:70%;
  display:block;
  margin:auto;
  padding: 40px;
  text-align: center;

  box-shadow: 2px 5px 5px #000;
}


.footer {

    position: absolute;

    left: 0;

    bottom: 0;

    width: 100%;

	padding: 15px 0;

	text-align: center;

	color: white;

	background: blue;

}

.footer > #grid > a > img{
  box-shadow: none;
  margin: 7px;
  padding: 20px;
  height:auto;
  width:100%;
}

.footer > #grid > b{
  text-align: center;
}

.footer > #grid{
  display:grid;
  grid-template-columns: 150px 1fr 220px;
  text-align: left;
}

.page{
  text-align: center;
  width:50%;
  padding-top: 200px;

}

.footer{
  text-align: center;
  color: white;
  background-color: rgb(32, 36, 47);
  padding: 10px;
}


p
{
  text-indent: 15px;
  padding:none;
  margin:none;
}

blockquote
{
  text-indent: 15px;
}

figcaption {
  color: #fff;
  background: rgba(55, 55, 55, 0);
  padding: 1em;
  line-height: 1;
  color:gray;
  font-size: 11;

  position: absolute;
  margin-bottom: -6px;

  width:100%;
  left: 0;
  right: 0;
  bottom: 0;


}

figure {
  margin: 0;
  line-height: 0;
  text-align: center;

  position: relative;
}


#grid{
  display:grid;
  grid-template-columns: 150px 1fr 150px;
  text-align: left;
}


.article{
  padding:10px;
  margin:20px;
  padding-top:50px;
}

.article > p{
  padding-bottom:150px;
}

#content{
  padding:50px;
  border-bottom:1px solid gray;

}

#header{
  background-image: url('표지.png');
  background-position:50% 40%;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0px;
  padding-top: 100px;
  padding-bottom: 40px;
  font-family: '서울남산 장체M', ng;

}
.page{
  text-align: center;
  color: blue;
}
.myMenu{
  font-size: 20px;
  text-align: center;
  border-bottom:1px solid gray;
  margin: 0px;
  padding: 30px;
  font-family: '서울남산 장체M', ng;
}
.menu{
  border-radius: 10px;
  padding: 30px;
  margin-left: : 10px;
  margin-right: : 10px;
}
.link{
  background: #D9FCDB;
  color: blue;
}
ol{
  border-right:1px solid gray;
  width:100px;
  margin:0;
  padding:10px;
}
li{
  font-size: 20px;
}
@media(max-width:800px){
  /* #grid{
    display:block;
  } */
  ol{
    border-right: None;
    margin-left: auto;
    margin-right: auto;
  }
  h1{
    border-bottom: None;
  }
}
ul, ol, li { list-style:none; margin:0; padding:0; }



#selected{
  background-color: #20D373;
  color: white;
  font-weight: bold;
}

ul.myMenu {z-index:9999;  }
ul.myMenu > li { display:inline-block; width:120px; padding:20px 40px; background:#eee;     border:1px solid #eee; text-align:center; position:relative;
  background-color: #F0FFFF;
  -webkit-transition:-webkit-transform 1s;
  transition: background-color 0.7s;
  z-index:9999;}
ul.myMenu > li:hover { background:#BBBBBB; color:black; }
ul.myMenu > li ul.submenu { display:none; position:absolute; top:60px; left:0; color:black; }
ul.myMenu > li:hover ul.submenu { display:block; }
ul.myMenu > li ul.submenu > li { display:inline-block; width:110px; padding:20px 40px; background:#eee; border:2px solid #eee; text-align:center; font-weight: normal;}
ul.myMenu > li ul.submenu > li:hover { background:#CB0D36; color:white; }

/*
background:linear-gradient(to bottom, #e8ecf0, #dbdfe3)
*/
